body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 1em;
}

p {
    margin-bottom: 1em;
}

svg {
    border: 1px solid #111;
    width: 800px;
    height: 500px;
}

#logs li {
    list-style-type: none;
}

li.info {
    color: #333;
}